body {
  font-size: 16px;
}

div.site {
  width: 45em;
}

img { width: 100%; }
a { color: #41B7D8; }

a:visited { color: #41B7D8; }

ul.posts a {
  color: #333;
}

ul.posts span {
  color: rgba(0, 0, 0, 0.75);
}

li.featured a { font-size: 18px; color: #2D6FD2; width: auto; }

li.featured { margin-bottom: 20px; }

li.featured img { margin: 5px 0px; }
li.featured p.summary {
    margin: 0 0;
    font-size: 16px;
}

div#home h1 { font-weight: normal; font-size: 22px; }
/** Tables **/

th, td {
  padding: 5px 0px;
}

td { border-bottom: 1px solid #444; }

/** Post **/

#post h2 a{
  font-size: 120%;
  color: #333;
  text-decoration: none;
}

#post-meta ul{
  list-style: none;
  margin-left: 0px;
}

#post-meta ul li {
  padding: 10px 25px;
  display: inline-block;
}

li#date {
  background: url(../images/icons/time_clock.png) -0.4% 45% no-repeat;
  color: rgba(0, 0, 0, 0.75);
  font-size: 80%;
}

li#tags {
  background: url(../images/icons/tag.png) -0.4% 51% no-repeat;
}

li#tags a {
  color: #41B7D8;
  text-decoration: none;
}

/** Post End **/

/** Footer **/

.site .footer {
  color: #333;
  font-size: 90%;
  border-top-color: #aaa;
}

.site .footer .contact a {
  color: #333;
}

.site .footer .rss {
  margin-right: 0px;
}

/** Grid **/

div.grid { overflow: hidden; }

div.thumb {
  float: left;
  width: 45%;
  margin: 0 2% 2% 2%;
  min-width: 450px;
  font-size: 90%;
  border: 2px solid #c2c2c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.thumb img {
  width: 98%;
  margin: 1% 1%;
}

.thumb h2, .thumb p {
  margin: 0.5em 2%;
}
