<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="description" content="I'm Jigar Patel: A freelance ruby programmer, web developer, Linux enthusiast and lone traveler.">
   <meta name="author" content="Jigar Patel" />
   <link href="http://feeds.feedburner.com/jigar_patel" rel="alternate"
   title="Jigar Patel" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-12726609-8']);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol
        ? 'https://ssl' : 'http://www') +
      '.google-analytics.com/ga.js';
      var s =
      document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Jigar Patel</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jigar Patel<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/jagira/">github.com/jagira</a><br />
        <a href="http://twitter.com/jagira/">twitter.com/jagira</a><br />
        <a href="http://facebook.com/jagira/">facebook.com/jagira</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/jigar_patel">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
  var sc_project=6727808; 
  var sc_invisible=1; 
  var sc_security="d04cb966"; 
</script>
<script type="text/javascript"
  src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="visit tracker
      on tumblr" href="http://statcounter.com/tumblr/"
      target="_blank"><img class="statcounter"
      src="http://c.statcounter.com/6727808/0/d04cb966/1/"
      alt="visit tracker on tumblr"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->



</body>
</html>
